In [1]:
from pyspark.sql import SparkSession

spark = (
    SparkSession.builder.appName("MastodonBatchAnalysis")
    .config("spark.jars.packages",
            "org.postgresql:postgresql:42.7.3")
    .getOrCreate()
)

JDBC_URL = "jdbc:postgresql://localhost:5433/mastodon"
JDBC_PROPS = {"user": "mastodon", "password": "mastodon", "driver": "org.postgresql.Driver"}

df_posts = spark.read.jdbc(JDBC_URL, "mastodon_posts", properties=JDBC_PROPS)
df_posts.show(10, truncate=False)

:: loading settings :: url = jar:file:/Users/leosohrabi/venv-jupyter/lib/python3.13/site-packages/pyspark/jars/ivy-2.5.1.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /Users/leosohrabi/.ivy2/cache
The jars for the packages stored in: /Users/leosohrabi/.ivy2/jars
org.postgresql#postgresql added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-d1da0f4f-415a-48b1-ab52-5fd78dd303ec;1.0
	confs: [default]
	found org.postgresql#postgresql;42.7.3 in central
	found org.checkerframework#checker-qual;3.42.0 in central
:: resolution report :: resolve 74ms :: artifacts dl 3ms
	:: modules in use:
	org.checkerframework#checker-qual;3.42.0 from central in [default]
	org.postgresql#postgresql;42.7.3 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   2   |   0   |   0   |   0   ||   2   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-d1da0f4f-415a-48b1-ab52-5fd78dd303ec
	confs: [default]
	0 artifacts copied, 2 already retrieved (0kB/3ms)
25/10/10 15:20:29 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/10 15:20:30 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

+---+----------+----------------------+--------------------------+
|id |username  |content               |ts                        |
+---+----------+----------------------+--------------------------+
|1  |leo       |hello from notebook   |2025-10-07 11:58:05.265591|
|2  |demo      |stream to postgres    |2025-10-07 11:58:08.418246|
|3  |leo       |another toot          |2025-10-07 11:59:37.772464|
|4  |demo      |new toot from kafka   |2025-10-07 11:59:53.61321 |
|5  |Potter    |hello Sirius          |2025-10-07 12:02:40.046819|
|6  |leo       |hello from kafka      |2025-10-10 14:01:50.716   |
|7  |demo      |works with content too|2025-10-10 14:01:52.915   |
|8  |TestDuJour|hello from kafka      |2025-10-10 14:02:47.386   |
|9  |Bat       |works with content too|2025-10-10 14:06:01.634   |
+---+----------+----------------------+--------------------------+

25/10/10 15:20:41 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

In [2]:
from pyspark.sql.functions import col, count, avg, length, to_date

# 1️⃣ Compter le nombre total de toots par utilisateur
toots_per_user = (
    df_posts.groupBy("username")
    .agg(count("*").alias("total_toots"))
    .orderBy(col("total_toots").desc())
)
toots_per_user.show()

# 2️⃣ Calculer la longueur moyenne des toots par utilisateur
avg_length_per_user = (
    df_posts.withColumn("toot_length", length(col("content")))
    .groupBy("username")
    .agg(avg("toot_length").alias("avg_toot_length"))
    .orderBy(col("avg_toot_length").desc())
)
avg_length_per_user.show()

# 3️⃣ Nombre de toots par jour
toots_per_day = (
    df_posts.withColumn("date", to_date(col("ts")))
    .groupBy("date")
    .agg(count("*").alias("daily_toots"))
    .orderBy(col("date"))
)
toots_per_day.show()

+----------+-----------+
|  username|total_toots|
+----------+-----------+
|       leo|          3|
|      demo|          3|
|    Potter|          1|
|       Bat|          1|
|TestDuJour|          1|
+----------+-----------+

+----------+------------------+
|  username|   avg_toot_length|
+----------+------------------+
|       Bat|              22.0|
|      demo|19.666666666666668|
|TestDuJour|              16.0|
|       leo|15.666666666666666|
|    Potter|              12.0|
+----------+------------------+

+----------+-----------+
|      date|daily_toots|
+----------+-----------+
|2025-10-07|          5|
|2025-10-10|          4|
+----------+-----------+

In [3]:
from time import time
from pyspark.sql.functions import to_date

# Partitions naturelles
dfp = df_posts.withColumn("date", to_date("ts"))

# Mesure performance avant optimisation
t0 = time(); dfp.groupby("username").count().count(); t1 = time()
print(f"avant cache: {t1-t0:.3f}s")

# Ajout de cache et repartition par date
dfp_cached = dfp.repartition("date").cache()
dfp_cached.count()  # matérialise le cache

# Mesure performance après optimisation
t0 = time(); dfp_cached.groupby("username").count().count(); t1 = time()
print(f"après cache+repartition(date): {t1-t0:.3f}s")

avant cache: 0.217s
après cache+repartition(date): 0.087s

In [4]:
JDBC_URL   = "jdbc:postgresql://localhost:5433/mastodon"
JDBC_PROPS = {"user":"mastodon","password":"mastodon","driver":"org.postgresql.Driver"}

(toots_per_user
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_user_activity", properties=JDBC_PROPS))

(avg_length_per_user
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_avg_toot_length", properties=JDBC_PROPS))

(toots_per_day
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_daily_counts", properties=JDBC_PROPS))

In [5]:
import pandas as pd, sqlalchemy as sa
engine = sa.create_engine("postgresql+psycopg2://mastodon:mastodon@localhost:5433/mastodon")

display(pd.read_sql("SELECT * FROM batch_user_activity ORDER BY total_toots DESC", engine))
display(pd.read_sql("SELECT * FROM batch_avg_toot_length ORDER BY avg_toot_length DESC", engine))
display(pd.read_sql("SELECT * FROM batch_daily_counts ORDER BY date", engine))

     username  total_toots
0         leo            3
1        demo            3
2      Potter            1
3         Bat            1
4  TestDuJour            1

     username  avg_toot_length
0         Bat        22.000000
1        demo        19.666667
2  TestDuJour        16.000000
3         leo        15.666667
4      Potter        12.000000

         date  daily_toots
0  2025-10-07            5
1  2025-10-10            4

In [6]:
JDBC_URL   = "jdbc:postgresql://localhost:5433/mastodon"
JDBC_PROPS = {"user":"mastodon","password":"mastodon","driver":"org.postgresql.Driver"}

(toots_per_user
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_user_activity", properties=JDBC_PROPS))

(avg_length_per_user
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_avg_toot_length", properties=JDBC_PROPS))

(toots_per_day
 .write.mode("overwrite")
 .jdbc(JDBC_URL, "batch_daily_counts", properties=JDBC_PROPS))

In [7]:
import pandas as pd, sqlalchemy as sa
engine = sa.create_engine("postgresql+psycopg2://mastodon:mastodon@localhost:5433/mastodon")

display(pd.read_sql("SELECT * FROM batch_user_activity ORDER BY total_toots DESC", engine))
display(pd.read_sql("SELECT * FROM batch_avg_toot_length ORDER BY avg_toot_length DESC", engine))
display(pd.read_sql("SELECT * FROM batch_daily_counts ORDER BY date", engine))

     username  total_toots
0         leo            3
1        demo            3
2      Potter            1
3         Bat            1
4  TestDuJour            1

     username  avg_toot_length
0         Bat        22.000000
1        demo        19.666667
2  TestDuJour        16.000000
3         leo        15.666667
4      Potter        12.000000

         date  daily_toots
0  2025-10-07            5
1  2025-10-10            4

In [8]:
active_users = (
    toots_per_user.filter("total_toots > 1")
)
active_users.show()

+--------+-----------+
|username|total_toots|
+--------+-----------+
|     leo|          3|
|    demo|          3|
+--------+-----------+

In [9]:
from pyspark.sql.functions import explode, regexp_extract, split

# Extraire les hashtags depuis le texte
hashtags_df = (
    df_posts
    .withColumn("hashtag", explode(split(regexp_extract("content", r"#(\w+)", 1), ",")))
    .filter("hashtag != ''")
    .groupBy("hashtag")
    .count()
    .orderBy("count", ascending=False)
)

hashtags_df.show(5)

+-------+-----+
|hashtag|count|
+-------+-----+
+-------+-----+